{% extends 'store/base.html' %}

{% block body %}

    <div class="mobile_bijou_img">
        <img src="{{ bijou.image_link }}" style="width: 250px;">
    </div>
    <div class="bijou_part">
        <div class="Ampera">{{ bijou.name }}</div>
        <h3 class="WildCreature">
            Prix: &emsp;
            <div class="prix">
                {{ bijou.price }}$
            </div>
        </h3>
        <!--
        {% for one_sub_bijou in bijou.sub_bijou_set.all %}
            {{ one_sub_bijou.name }}<br>
        {% endfor %}
        -->
    </div>


{% endblock %}