{% extends 'store/base.html' %}

{% block body %}
{% if all_bijou %}
    <div class="Mustardo">
        La Boutique
    </div>
    <ul>
        {% for one_bijou in all_bijou %}
            <div class="bijou_presentation">
                <a href ="{{ one_bijou.get_absolute_url }}">
                    <img src="{{ one_bijou.image_link }}" class="img-thumbnail bijou_image" alt="{{ one_bijou.name }}">

                </a>
                <!--
                <form method="POST" action="{% url 'store:bijou_delete' one_bijou.name %}">
                    {% csrf_token %}
                    <input type="submit" value="DELETE">
                </form>
                -->
            </div>
            <!--

            -->
        {% endfor %}
    </ul>
{% else %}
    <h2>The Store is empty</h2>
{% endif %}
{% endblock %}
